{% extends  'layout.njk' %}

{% block sidebar %}
  {% include 'partials/sidebar/sidebar.njk' %}
{% endblock %}


{% block style %}
<style>
  .button-wrapper {
    position: relative;
    width: 150px;
    text-align: center;
    margin: 8px 0;
  }

  .upload-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  .button-wrapper span.label {
    position: relative;
    z-index: 0;
    display: inline-block;
    width: 100%;
    background: #00bfff;
    cursor: pointer;
    color: #fff;
    padding: 10px 0;
    text-transform:uppercase;
    font-size:12px;
  }

  #upload {
      display: inline-block;
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 50px;
      top: 0;
      left: 0;
      opacity: 0;
      cursor: pointer;
  }

  .imageBox {
    position: relative;
    margin:8px;
  }

  .image-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
  }

  .removeImage {
    position: absolute;
    top: 0;
    right: 0;
  }
</style>
{% endblock %}


{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Thêm Nhà Cung Cấp</h1>
</div>
    {% if success %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <p class="mb-0">{{success}}</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endif %}

    {% if errors %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">         
        {% for msg in errors %}
          <p class="mb-0">{{msg}}</p>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        {% endfor %} 
      </div>
    {% endif %}


<div class="row justify-content-center" style="padding: 0px 16px">
    <div class="col-md-12 col-xl-8 p-5 px-20 bg-light border rounded-3">
      <h5 class="mb-3">Thông tin cơ bản</h5>
      <form id="formProduct" action="/supplier/new.html" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
        <div class="row g-3">          
          <div class="col-sm-6">
            <label for="id" class="form-label">
              Mã nhà cung cấp 
              <span class="text-danger">(bắc buộc)</span>
            </label>
            <input type="text" class="form-control" id="id" name="id" placeholder="" value="" required="">
            <div class="invalid-feedback">
              Mã nhà cung cấp không hợp lệ
            </div>
          </div>

          <div class="col-sm-6">
            <label for="name" class="form-label">
              Tên nhà cung cấp
              <span class="text-danger">(bắc buộc)</span>
            </label>
            <input type="text" class="form-control" id="name" name="name" placeholder="" value="" required="">
            <div class="invalid-feedback">
              Tên nhà cung cấp không hợp lệ
            </div>
          </div>

          <div class="col-sm-12">
            <label for="baseImage" class="form-label">
              Hình ảnh đại diện
              <span class="text-danger">(bắc buộc)</span>
            </label>
            <div class="button-wrapper">
              <span class="label">
                Upload file
              </span>
              <input required id="baseImage" type="file" name="baseImage" class="upload-box" placeholder="Upload File">
            </div>

            <div class="d-flex flex-wrap justify-content-start" id="baseImagePreview">  
            </div>
          </div>

          <div class="col-12">
            <label for="category" class="form-label">Dòng sản phẩm</label>
            <select multiple id="category" name="category" class="form-select" aria-label="Default select example">
              {% for category in cateList %}
                <option value={{category._id}}>{{category.name}}</option>
              {% else %}
                <li>This would display if the 'item' collection were empty</li>
              {% endfor %}
            </select>
            <div class="invalid-feedback">
              Hãy chọn dòng sản phẩm
            </div>
          </div>

          <div class="col-12">
            <label for="manner" class="form-label">Phong Cách</label>
            <select multiple id="manner" name="manner" class="form-select" aria-label="Default select example">
              {% for manner in mannerList %}
                <option value={{manner._id}}>{{manner.name}}</option>
              {% else %}
                <li>This would display if the 'item' collection were empty</li>
              {% endfor %}
            </select>
            <div class="invalid-feedback">
              Hãy chọn phong cách
            </div>
          </div>

          <hr class="my-4">

          <div class="col-sm-4 d-flex ms-auto">
            <button class=" ms-auto w-10 btn btn-primary btn-lg align-self-end" type="submit">Tạo mới</button>
          </div>
      </form>
    </div>
</div>
{% endblock %}

{% block footer %}
  <script language="JavaScript">

  document.querySelector("#merchant-collapse").classList = "collapse show"
  document.querySelector('button[data-bs-target="#merchant-collapse"]').classList = "btn btn-toggle align-items-center rounded collapsed activeNav"


  const forms = document.querySelectorAll('.needs-validation')
  
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })



    const baseImage = document.querySelector('#baseImage');

    const baseImagePreview = document.querySelector('#baseImagePreview');

    function previewBaseImage() {
      if (this.files) {

        const file = this.files[0]
        if(!file) return;
        
        const reader = new FileReader();
        
        reader.addEventListener("load", function() {
          const image = new Image();
          image.height = 124;
          image.title  = file.name;
          image.src    = this.result;
          image.alt    = file.name;
          image.classList= 'image-thumbnail'

          baseImagePreview.innerHTML ="";

          const imageBox = document.createElement("div");
          imageBox.classList = "imageBox"

          const removeIcon = document.createElement("button");
          removeIcon.classList= "btn-close removeImage";
          removeIcon.type= "button";
          removeIcon.name= image.title;
          removeIcon.onclick = deleteBaseImage;
          

          imageBox.appendChild(image)
          imageBox.appendChild(removeIcon)

          baseImagePreview.appendChild(imageBox);
        });
        
        reader.readAsDataURL(file);
      }
    }

      function deleteBaseImage(event , index) {
        baseImage.value =""
        event.target.parentElement.remove()
      }

    document.querySelector('#baseImage').addEventListener("change", previewBaseImage);

  </script>
{% endblock %}