<!doctype html>
<html  lang="en">
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <script defer src="/jquery/jquery.js"></script>
    <script defer language="javascript" src="/js/bootstrap.min.js"></script>

    {% block style %}
    {% endblock %}
  </head>
  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>